include _mixins

doctype html
html(lang='ru-RU')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title КСК Виджет доставки
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', type='text/css', href='assets/css/app.css', media='screen, projection, print')

	body
		block content
		<script src="" type="text/javascript"></script>
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=b8c7161f-fd0f-46cf-acf8-b68102e4340c")
		script(src='assets/js/app.js')
