.btn {
	@include button-reset;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	padding: 17px 53px 18px;
	background-color: #0096DA;
	border-radius: 28px;
	color: #ffffff;

	&:hover {
		background-color: #0081BC;
	}

	&:active {
		background-color: #015D87;
	}

	&[disabled] {
		background-color: #EDEEEF;
		color: #B8BED8;
	}
}
