// Museo
// 500
@font-face {
	font-family: 'Museo';
	src: url('../fonts/MuseoCyrillic-500.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

// 700
@font-face {
	font-family: 'Museo';
	src: url('../fonts/MuseoCyrl-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

// 900
@font-face {
	font-family: 'Museo';
	src: url('../fonts/MuseoCyrillic-900.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}



// MuseoSans
// 500
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

// 700
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

// 900
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}






