extends ../_template

block variables
	- const title = 'Canpol babes';
	- const isStoriesEnabled = false

block content
	main.page
		section.hero
			.container
				p hello!

	include ../common/_footer.pug
